<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.ams.dao.CityDao">
    <sql id="base_sql">
        id,
        name,
        parent_id as parentId,
        short_name as shortName,
        level_type as levelType,
        city_code as cityCode,
        zip_code as zipCode,
        longitude,
        latitude,
        pinyin,
        status
    </sql>

    <select id="getCityList" resultType="com.th.ams.model.CityModel">
        select
        <include refid="base_sql"/>
        from city where 1=1
    </select>
</mapper>